@model IEnumerable<DDD.Sales.Application.Models.ClienteViewModel>;
@{
    ViewData["Title"] = "MyStock - Erro";
    Layout = null;
}

<h2>@ViewData["Title"]</h2>
<h1>Ocorreu um erro na aplicação... Entre em contato com o adminstraddor do sistema!</h1>

