@{
    ViewData["Title"] = "Home Page";
}

<div class="row"  style="text-align:center">
    <div class="col-md-4">
        <div>
            <a asp-controller="Cliente" asp-action="Index">
                <img src="~/img/clientes.png" width="100" height="100"/>
            </a>
        </div>
        <span>Cadastro de Clientes</span>
    </div>
    <div class="col-md-4">
        <div>
            <a asp-controller="Categoria" asp-action="Index">
                <img src="~/img/categorias.png"  width="100" height="100"/>
            </a>
        </div>
        <span>Cadastro de Categorias</span>
    </div>
    <div class="col-md-4">
        <div>
            <a asp-controller="Produto" asp-action="Index">
                <img src="~/img/produtos.png"  width="100" height="100"/>
            </a>
        </div>
        <span>Cadastro de Produtos</span>
    </div>
</div>
<br>
<br>
<div class="row"  style="text-align:center">
    <div class="col-md-4">
        <div>
            <a asp-controller="Venda" asp-action="Index">
                <img src="~/img/vendas.png"  width="100" height="100"/>
            </a>
        </div>
        <span>Registro de Vendas</span>
    </div>
    <div class="col-md-4">
        <div>
            <a asp-controller="Relatorio" asp-action="Grafico">
                <img src="~/img/relatorios.png"  width="100" height="100"/>
            </a>
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-md-4">
        <div>
            <a asp-controller="Configuracao" asp-action="Index">
                <img src="~/img/configuracoes.png"  width="100" height="100"/>
            </a>
        </div>
        <span>Configurações</span>
    </div>
</div>